# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.serpent'
'name': 'serpent'
'fileTypes': [
  'sss'
]
'patterns': [
  {
    'match': "^\\s*%.*$"
    'name': 'comment.serpent'
  }
  ,
  {
    'match': "surf"
    'name': 'keyword.serpent'
  }
  ,
  {
    'match': "(cell|lat|particle|pbed)"
    'name': 'constant.serpent'
  }
  ,
  {
    'match': "boundary"
    'name': 'constant.serpent'
  }
  ,
  {
    'match': "(cuboid|hexyprism|cylz|sph|cube|pbed|particle)"
    'name': 'support.serpent'
  }
  ,
  {
    'match': "(mat |src |set |plot |include |div |trans |mesh |det)"
    'name': 'variable.serpent'
  }
]
