# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.scale'
'name': 'Scale'
'fileTypes': [
  'inp'
]
'patterns': [
  {
    'match': "^\\s*'.*$"
    'name': 'comment.scale'
  }
  ,
  {
    'match': "^\\s*com.*$"
    'name': 'comment.scale'
  }
  ,
  {
    'match': "read"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "end"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "(composition)"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "celldata"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "geometry"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "model"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "materials"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "array"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "depletion"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "burndata"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "parameter"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "unit"
    'name': 'constant.scale'
  }
  ,
  {
    'match': "global"
    'name': 'constant.scale'
  }
  ,
  {
    'match': "boundary"
    'name': 'constant.scale'
  }
  ,
  {
    'match': "(cuboid|cylinder|hexprism|rhexprism|wedge)"
    'name': 'support.scale'
  }
  ,
  {
    'match': "media"
    'name': 'variable.scale'
  }
  ,
  {
    'match': "shape"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "energy"
    'name': 'keyword.scale'
  }
  ,
  {
    'match': "tallyset"
    'name': 'keyword.scale'
  }
]
