# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.mpact'
'name': 'MPACT'
'fileTypes': [
  'mpt'
]
'patterns': [
  {
    'match': '^\\s*!.*$'
    'name': 'comment'
  }
  ,
  {
    'match': '^(CASID|STATE|MATERIAL|GEOM|XSEC|OPTION|EDIT)'
    'name': 'variable'
  }
  ,
  {
    'match': '(mod_dim|mat|pinMesh|pin|module|lattice|assembly|core)'
    'name': 'constant'
  }
  ,
  {
    'match': '(gcyl|cyls|cyl|rec)'
    'name': 'keyword'
  }
  ,
  {
    'match': '(\\\\|/)'
    'name': 'storage'
  }
  ,

]
